.background {
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    top: 100px;
    position: relative;
    /* background-color: darkgoldenrod; */
    /* padding: 20px; */
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
}
.breeding {
    justify-content: start;
    padding: 20px;
}

.containerstatsandbreeding {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: start;
    padding: 20px;
}

.stats {
    /* background-color: cornflowerblue; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}

.imgpoke {
    height: 400px;
}

.types {
    display: flex;
}

.title {
    text-transform: capitalize;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 60px;
}
.subtitles {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 10px;
    margin: 0;
}

.text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.textspan {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    list-style-type: none;
}

.normal {
    background-color: grey;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.flying {
    background-color: cadetblue;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.poison {
    background-color: purple;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.rock {
    background-color: darkolivegreen;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.bug {
    background-color: rgb(172, 219, 42);
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.ghost {
    background-color:hotpink;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.steel {
    background-color: steelblue;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.electric {
    background-color:rebeccapurple;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.ground {
    background-color: maroon;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.fire {
    background-color: red;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.water {
    background-color: rgb(39, 133, 221);
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.grass {
    background-color:olivedrab;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.ice {
    background-color:mediumturquoise;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.fighting {
    background-color: rgb(255, 102, 0);
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.dragon {
    background-color: tomato;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.psychic {
    background-color:navy;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}

.fairy {
    background-color:palevioletred;
    color: white;
    padding: 7px 12px;
    margin: 10px;
    border-radius: 12%;
}